@import url('https://fonts.googleapis.com/css2?family=League+Spartan:wght@400;700&display=swap');


* {
    box-sizing: border-box;
    padding: 0px;
    margin: 0px;
    text-decoration: none;
    list-style: none;
    font-family: 'League Spartan', sans-serif;
    /* outline: 1px solid red; */
}

a {
    color: var(--color-100);
}


:root {

    /* colors */
    --color-50: #d1622e ;
    --color-100: #21130d;
    --color-150: #dbdad5;
    --color-200: #fff;
    --color-250: #000000;
    --color-300: #e1e6fe;
    --color-350: #2237d6;
    --color-400: #668595;
    --color-450: red;

    /* text */
    --text-size-50:  10px ;
    --text-size-100: 14px;
    --text-size-150: 16px;
    --text-size-200: 20px;
    --text-size-250: 22px;
    --text-size-300: 26px;
    --text-size-400: 32px;
    --text-size-450: 36px;
    --text-size-500: 40px;
    --text-size-550: 46px;
}

/* Header */

.container-header {
    display: flex;
    justify-content: center;
    padding: 40px 100px;
    align-items: center;
    font-size: var(--text-size-250);
    background-color: var(--color-200);
    color: var(--color-100);
}

.header-right {
    display: flex;
    gap: 30px;
    color: var(--color-100);
}

.header-right a {
    color: var(--color-100);
    transition: all ease 0.3s ;
}

.header-right a:hover {
    color: var(--color-450);
}

/* Hero */





.container-hero {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    padding-top: 60px;
    color: var(--color-100);
    gap: 30px;
}

.container-hero h1 {
    font-size: var(--text-size-550);
}

.container-hero p {
    text-align: center;
    font-size: var(--text-size-300);
    width: 500px;
}




/* Projects main */

.container-projects {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    margin-top: 80px;
    gap: 180px;
}

.grid-col-2 {
    display: grid;
}

.grid-box {
    border: 1px solid var(--color-100);
    width: 40px;

}